<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <link rel="stylesheet" href="/static/styles/hero.css" />
        <div class="hero-container">
            <div class="images">
                <img src="/static/images/portrait.webp" class="portrait"/>
                <img src="/static/images/EDITHCOATES.svg" alt="EDITH COATES" class="hero-img"/>
            </div>
            <div class="nav-links">
                <a class="nav-item"
                    href="/"
                    style="color: var(--red);"><p>Home</p></a>
                <a class="nav-item"
                    href="/blog"
                    style="color: var(--orange);"><p>Blog</p></a>
                <a class="nav-item"
                    href="/publications"
                    style="color: var(--yellow);"><p>Publications</p></a>
                <a class="nav-item"
                    href="https://www.github.com/ecoates-bc"
                    style="color: var(--green);"
                    target="_blank"><p>GitHub</p></a>
                <a class="nav-item"
                    href="https://www.linkedin.com/in/ecoates-bc"
                    style="color: var(--blue)"
                    target="_blank"><p>Linkedin</p></a>
                <a class="nav-item"
                    href="https://www.instagram.com/ecoates.official/"
                    style="color: var(--aqua)"
                    target="_blank"><p>Instagram</p></a>
                <a class="nav-item"
                    href="mailto:ecoates.bc@gmail.com"
                    style="color: var(--purple);"
                    target="_blank"><p>E-Mail</p></a>
            </div>
        </div>
        <hr style="width: 100%;"/>
    </body>
</html>