:root {
    --background: #282828;
    --font: #bdae93;
    --red: #cc241d;
    --orange: #d65d03;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --purple: #b16286;
    --aqua: #689d6a;
    --gray: #3c3836;
    --black: #1d2021;
    --invert: 50%;
}