:root {
    --background: #fbf1c7;
    --font: #3c3836;
    --red: #9d0006;
    --orange: #af3a03;
    --green: #79740e;
    --yellow: #b57614;
    --blue: #076678;
    --purple: #8f3f71;
    --aqua: #427b58;
    --gray: #ebdbb2;
    --black: #d5c4a1;
    --invert: 50%;
}